# Project From Coursera Google Data Analytic

## Divvy Bike Share
### Goals : Designing a marketing strategy at converting regular riders into annual members

## ASK Phase


### Business Objective:
Marketing director wants to increase revenue from casual users to subscriptions


### Business Task:
How do annual members and casual riders use Cyclistic bikes differently?

## Data Preparation
link data download: https://divvy-tripdata.s3.amazonaws.com/index.html

### Data Organization:
Data is stored in csv format files, in this analysis the period taken is one full year of data starting from October 2021 to September 2022. there 13 columns: ride_id, rideable_type, started_at	ended_at, start_station_name,start_station_id, end_station_name, end_station_id, start_lat, start_lng, nd_lat, end_lng, member_casual

### Problems with the dataset:
There are some discrepancies in the structure of the dataframe. The majority of the errors (duplicate records, missing fields, etc.) can be solved by data cleansing, but there are a few that require more explanation.

In [1]:
#Import Library for analysis
import pandas as pd
import plotly.express as px
import glob

In [2]:
# specifying the path to csv files
path = 'D:\DataAnalyticsGoogle_Coursera\Project\Project_DivvyTripData\Divvy092021_092022'
 
# csv files in the path
file_list = glob.glob(path + "/*.csv")
 
# create list for storing csv file
csv_list = []
 
for file in file_list:
    csv_list.append(pd.read_csv(file))
 
# concatenate all DataFrames in the list
# into a single DataFrame, returns new
# DataFrame.
df = pd.concat(csv_list, ignore_index=True)
 
# exports the dataframe into csv file
# with specified name.
df.to_csv('D:\DataAnalyticsGoogle_Coursera\Project\Project_DivvyTripData\Python\divvy-trip_102021-092022.csv', index=False)

#count row and column
print(df.shape)

# show first 5 data
df.head(5)

(5828235, 13)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,620BC6107255BF4C,electric_bike,2021-10-22 12:46:42,2021-10-22 12:49:50,Kingsbury St & Kinzie St,KA1503000043,NaN,NaN,41.889186,-87.638495,41.89,-87.63,member
1,4471C70731AB2E45,electric_bike,2021-10-21 09:12:37,2021-10-21 09:14:14,NaN,NaN,NaN,NaN,41.930000,-87.700000,41.93,-87.71,member
2,26CA69D43D15EE14,electric_bike,2021-10-16 16:28:39,2021-10-16 16:36:26,NaN,NaN,NaN,NaN,41.920000,-87.700000,41.94,-87.72,member
3,362947F0437E1514,electric_bike,2021-10-16 16:17:48,2021-10-16 16:19:03,NaN,NaN,NaN,NaN,41.920000,-87.690000,41.92,-87.69,member
4,BB731DE2F2EC51C5,electric_bike,2021-10-20 23:17:54,2021-10-20 23:26:10,NaN,NaN,NaN,NaN,41.890000,-87.710000,41.89,-87.69,member

In [3]:
#info data column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5828235 entries, 0 to 5828234
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 578.1+ MB

In [4]:
#find column have na values

feature_na=[feature for feature in df.columns if df[feature].isnull().sum()>0]
feature_na

['start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'end_lat',
 'end_lng']

In [5]:
#Check missing data
df.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    895032
start_station_id      895032
end_station_name      958227
end_station_id        958227
start_lat                  0
start_lng                  0
end_lat                 5844
end_lng                 5844
member_casual              0
dtype: int64

## Cleaning Data

In [6]:
# drop duplicates data 
df = df.drop_duplicates()

In [7]:
#the missing data too many, and the column needed for some analysis
#decide to remove all missing values
df.dropna(how='any', inplace=True)

#recheck missing data
df.isna().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [8]:
#check shape size after clean missing data
df.shape #1.340.237 row deleted

(4474141, 13)

## Transformation Data

In [9]:
# renaming column member_casual to usertype is more easy to understand
df.rename(columns = {'member_casual':'usertype'}, inplace = True)

In [10]:
# change values member to subscriber and casual to non-subcriber
df['usertype'] = df['usertype'].str.replace('member','subscriber')
df['usertype'] = df['usertype'].str.replace('casual','non-subscriber')
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype
25,614B15BC42810184,docked_bike,2021-10-05 10:56:05,2021-10-05 11:38:48,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber
69,ADCC6E3CF9C04688,classic_bike,2021-10-06 13:55:33,2021-10-06 13:58:16,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,subscriber
76,6184CC57243AEF3C,docked_bike,2021-10-16 10:19:43,2021-10-16 12:01:20,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber
84,DE02D027BAC5C820,docked_bike,2021-10-24 11:03:34,2021-10-24 13:10:01,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber
94,E7C9BADDF2308D0D,classic_bike,2021-10-23 23:33:22,2021-10-23 23:35:27,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,subscriber

In [11]:
#create new column ride_length from column started_at-ended_at
#before creating new column, need convert type data of started and ended column

df[['started_at','ended_at']] = df[['started_at','ended_at']].apply(pd.to_datetime)

#check the type of data
df[['started_at','ended_at']].dtypes

started_at    datetime64[ns]
ended_at      datetime64[ns]
dtype: object

In [12]:
#create new column ride_length
df['ride_length'] = df['ended_at'] - df['started_at']
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype,ride_length
25,614B15BC42810184,docked_bike,2021-10-05 10:56:05,2021-10-05 11:38:48,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0 days 00:42:43
69,ADCC6E3CF9C04688,classic_bike,2021-10-06 13:55:33,2021-10-06 13:58:16,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,subscriber,0 days 00:02:43
76,6184CC57243AEF3C,docked_bike,2021-10-16 10:19:43,2021-10-16 12:01:20,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0 days 01:41:37
84,DE02D027BAC5C820,docked_bike,2021-10-24 11:03:34,2021-10-24 13:10:01,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0 days 02:06:27
94,E7C9BADDF2308D0D,classic_bike,2021-10-23 23:33:22,2021-10-23 23:35:27,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,subscriber,0 days 00:02:05

In [13]:
import datetime
# ride_length column can't be aggregate, so need to convert to seconds first
df['ride_length(minute)'] = df['ride_length'].dt.total_seconds()
# seconds is to many values so convert in minute will be good
df['ride_length(minute)'] = df['ride_length(minute)']/60
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype,ride_length,ride_length(minute)
25,614B15BC42810184,docked_bike,2021-10-05 10:56:05,2021-10-05 11:38:48,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0 days 00:42:43,42.716667
69,ADCC6E3CF9C04688,classic_bike,2021-10-06 13:55:33,2021-10-06 13:58:16,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,subscriber,0 days 00:02:43,2.716667
76,6184CC57243AEF3C,docked_bike,2021-10-16 10:19:43,2021-10-16 12:01:20,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0 days 01:41:37,101.616667
84,DE02D027BAC5C820,docked_bike,2021-10-24 11:03:34,2021-10-24 13:10:01,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0 days 02:06:27,126.450000
94,E7C9BADDF2308D0D,classic_bike,2021-10-23 23:33:22,2021-10-23 23:35:27,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,subscriber,0 days 00:02:05,2.083333

In [14]:
# create function to change format ride length in hh:mm:ss
def format_hhmmss (td):
    td_in_seconds = td.total_seconds()
    hours, remainder = divmod(td_in_seconds, 3600)
    minutes, seconds = divmod(remainder, 60)
    hours = int(hours)
    minutes = int(minutes)
    seconds = int(seconds)
    if minutes < 10:
        minutes = "0{}".format(minutes)
    if seconds < 10:
        seconds = "0{}".format(seconds)
    return "{}:{}:{}".format(hours, minutes,seconds)

df['ride_length'] = df['ride_length'].apply(format_hhmmss)
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype,ride_length,ride_length(minute)
25,614B15BC42810184,docked_bike,2021-10-05 10:56:05,2021-10-05 11:38:48,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0:42:43,42.716667
69,ADCC6E3CF9C04688,classic_bike,2021-10-06 13:55:33,2021-10-06 13:58:16,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,subscriber,0:02:43,2.716667
76,6184CC57243AEF3C,docked_bike,2021-10-16 10:19:43,2021-10-16 12:01:20,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,1:41:37,101.616667
84,DE02D027BAC5C820,docked_bike,2021-10-24 11:03:34,2021-10-24 13:10:01,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,2:06:27,126.450000
94,E7C9BADDF2308D0D,classic_bike,2021-10-23 23:33:22,2021-10-23 23:35:27,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,subscriber,0:02:05,2.083333

In [15]:
#create dayofweek column
df['dayofweek'] = df['started_at'].dt.day_name()
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype,ride_length,ride_length(minute),dayofweek
25,614B15BC42810184,docked_bike,2021-10-05 10:56:05,2021-10-05 11:38:48,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0:42:43,42.716667,Tuesday
69,ADCC6E3CF9C04688,classic_bike,2021-10-06 13:55:33,2021-10-06 13:58:16,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,subscriber,0:02:43,2.716667,Wednesday
76,6184CC57243AEF3C,docked_bike,2021-10-16 10:19:43,2021-10-16 12:01:20,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,1:41:37,101.616667,Saturday
84,DE02D027BAC5C820,docked_bike,2021-10-24 11:03:34,2021-10-24 13:10:01,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,2:06:27,126.450000,Sunday
94,E7C9BADDF2308D0D,classic_bike,2021-10-23 23:33:22,2021-10-23 23:35:27,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,subscriber,0:02:05,2.083333,Saturday

In [16]:
# check how much outlier we have
len(df[df["ride_length(minute)"] < 0])

72

In [17]:
# remove outlier
df = df[df['ride_length(minute)'] > 0]
len(df[df["ride_length(minute)"] < 0])

0

In [18]:
# create new column extract hour from column started_at
df['started_rent(hour)'] = df['started_at'].dt.hour

# create new column extract year-month from column started_at
df['month_year'] = df['started_at'].dt.to_period('M').astype('str')
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,usertype,ride_length,ride_length(minute),dayofweek,started_rent(hour),month_year
25,614B15BC42810184,docked_bike,2021-10-05 10:56:05,2021-10-05 11:38:48,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,0:42:43,42.716667,Tuesday,10,2021-10
69,ADCC6E3CF9C04688,classic_bike,2021-10-06 13:55:33,2021-10-06 13:58:16,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,subscriber,0:02:43,2.716667,Wednesday,13,2021-10
76,6184CC57243AEF3C,docked_bike,2021-10-16 10:19:43,2021-10-16 12:01:20,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,1:41:37,101.616667,Saturday,10,2021-10
84,DE02D027BAC5C820,docked_bike,2021-10-24 11:03:34,2021-10-24 13:10:01,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,non-subscriber,2:06:27,126.450000,Sunday,11,2021-10
94,E7C9BADDF2308D0D,classic_bike,2021-10-23 23:33:22,2021-10-23 23:35:27,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,subscriber,0:02:05,2.083333,Saturday,23,2021-10

In [19]:
# let save all the cleaning and tranformation of file
df.to_csv('D:\DataAnalyticsGoogle_Coursera\Project\Project_DivvyTripData\Python\clean_divvy-trip_102021-092022.csv', index=False)